<div class="title-container">
  <h1 class="custom-title">Intereses</h1>
</div>
<div class="container">
  <h2>Resultados del CIP-R</h2>
</div>
<div id="chart"></div>
<div class="container">
  <h2>Observaciones</h2>
  Como podemos observar en el test las areas que mas alto puntaje me dieron
  fueron Cálculo, Cientifica, Diseño y Economica lo cual a mi parecer era de
  esperar ya que son las areas de la vida que mas me interesan y mas me veo
  trabajando en un futuro. Una que yo pensaba que iba a tener mas puntaje es
  Tecnologica la cual solo me dio un puntaje de 56.

  <h2>Carreras posibles</h2>
  <ul>
    <li>Medicina</li>
    <li>Administracion Bancaria</li>
    <li>Administracion de Empresas</li>
    <li>Contador</li>
    <li>Economía</li>
    <li>Finanzas</li>
    <li>Ingenierías multiples</li>
    <li>Etc...</li>
  </ul>
</div>
