<div class="title-container">
  <h1 class="custom-title">Valores</h1>
</div>
<div id="chart"></div>
<div class="container">
  <h2>Observaciones</h2>
  Poca gente de mi familia tiene mis valores, por lo general ellos son mucho mas
  relajados con el trabajo y el estudio, menos exigentes y menos disciplinados
  que yo. A su vez compartimos muchos otros que tienen que ver con el respeto y
  la responsabilidad. <br />
  Por otro lado con mis amigos compartimos la exigencia, la competitividad y el
  respeto mutuo.
</div>
