@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.custom-navbar {
  height: 80px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.02);
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
  justify-content: space-between;
  padding: 20px;
  border-radius: 25px;
  margin: 10px;

  .buttons {
    .custom-link {
      text-decoration: none;
      color: black;
      margin: 5px;
      font-size: 1.2em;
      position: relative;
    }

    .custom-link::after {
      content: "";
      height: 2.5px;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
      transform: scale(0);
      transform-origin: center;
    }

    .custom-link:hover::after {
      opacity: 1;
      transform: scale(1);
    }

    .active-link {
      background: -webkit-linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
  }
}

.content {
  min-height: calc(100vh - 200px);
}

.footer-wrapper {
  min-height: 160px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.02);
  display: flex;
  align-items: space-between;
  font-family: "Outfit", sans-serif;
  justify-content: space-between;
  padding: 20px;
  border-radius: 25px;
  margin: 10px;

  img {
    max-width: 40px;
    margin: 10px;
  }

  p {
    line-height: 0.5;
  }
}
