<div class="container">
  <div class="wrapper">
    <div class="text">
      <h1 class="proyect-title">Proyecto Final TIS II</h1>
      <p class="long-text">
        Esta es la pagina para el cierre de año en el Taller de Interacciones
        Sociales, la misma esta acompañada de graficos, fotos e imagenes para
        facilitar la comprension. Lo que se intentara mostrar es todo lo
        descubierto, conocido y aprendido de uno mismo y de la materia en si,
        llegando a una conclusion que determine nuestra personalidad, nuestros
        valores y nuestras habilidades. Ademas, tener todo lo anteriormente
        mencionado en cuenta para encontrar nuestra vocacion y camino en la vida
        adulta.
      </p>
    </div>
    <canvas #canvasRef class="cube-canvas"></canvas>
  </div>
</div>
