.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;

  .text {
    max-width: 425px;

    .proyect-title {
      margin-bottom: 25px;
      font-family: "Montserrat", sans-serif;
    }

    .long-text {
      font-size: 1em;
    }
  }

  .cube-canvas {
    margin-left: 50px;
    width: 350px;
    height: 500px;
  }
}
