@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Outfit&display=swap");
@keyframes enter-left {
  0% {
    transform: matrix(1, 0.5, 0, 1, 100, 0);
  }
}

@keyframes enter-right {
  0% {
    transform: matrix(1, 0.5, 0, 1, -100, 0);
  }
}

@keyframes breath {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.title-container {
  display: flex;
  justify-content: center;

  .custom-title {
    font-family: "Montserrat", sans-serif;
    margin: 25px;
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .bubble {
    display: flex;
    width: 220px;
    height: 150px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    font-size: 2em;
    margin: 120px;
    margin-top: 50px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    animation: enter-left 0.5s 1;
  }

  .bubble:nth-child(odd) {
    margin-top: 150px;
    animation: enter-right 0.5s 1;
  }
}

.breath {
  animation: breath 3s infinite !important;
}

.red {
  background-color: red !important;
}
