<div class="container">
  <div class="title-container">
    <h1 class="custom-title">Personalidad</h1>
  </div>
  <div class="wrapper">
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy coherente</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy simpatico</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy independiente</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy optimista</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy exigente</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy dinamico</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy trabajador</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy perseverante</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy creativo</p>
    </div>
    <div [ngClass]="{'breath': breathing}" class="bubble">
      <p>Yo soy maduro</p>
    </div>
  </div>
</div>
